<header>
  <h1>Cat</h1>
</header>

<body>
  <table>
    <tr>
      <th>Birthday</th>
      <th>Color</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Description</th>
    </tr>

    <tr>
      <td> <%= @cat.birth_date %> </td>
      <td> <%= @cat.color %> </td>
      <td> <%= @cat.name %> </td>
      <td> <%= @cat.sex %> </td>
      <td> <%= @cat.description %> </td>
    </tr>
  </table>
</body>
